.body {
    background-color: rgb(224, 224, 224);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main-header {
    border: 1px solid black;
    height: 75px;
    width: auto;
    border-radius: 10px 10px 0 0;
    background-color: rgb(1, 21, 61);
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: larger;
    justify-content: space-between;
}

.nav-style {
    font-size: medium;
}

.p-main-header {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: grey;
}

#nav-body {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
}

nav {
    display: flex;
    font-weight: bold;
}

nav>a {
    padding: 8px;
    color: grey;
    text-decoration: none;
}

.personal-information {
    margin: 50px;
}

.personal-information-content {
    display: flex;
}

.summary {
    margin: 50px;
}

.p-summary {
    margin-top: 50px;
}

.education {
    margin: 50px;
}

.education-content {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 50px;
}

.photo {
    width: 250px;
    height: 300px;
    margin-left: 20px;
    margin-right: 50px;
}

.table-pi {
    padding-bottom: 10px;
}

.table-content-pi {
    margin-top: 40px;
}