.body {
    background-color: rgb(224, 224, 224);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Navbar */

.main-header {
    border: 1px solid black;
    height: 75px;
    width: auto;
    border-radius: 10px 10px 0 0;
    background-color: rgb(1, 21, 61);
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: larger;
    justify-content: space-between;
}

#nav-body {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
}

nav {
    display: flex;
    font-weight: bold;
}

nav>a {
    padding: 8px;
    color: grey;
    text-decoration: none;
}

.logo-icon {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-image: url(https://picsum.photos/200);
    background-size: cover;
}

.summary {
    margin: 50px;
}

.p-summary {
    margin-top: 50px;
}

.education {
    margin: 50px;
}

.education-content {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 50px;
}



